<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mbIT.sdetector">

    <!-- 인터넷 사용 권한 설정 (카카오 로그인 연동)-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--UsageStatsManager 기본 설정-->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions"/>

    <application
        android:name="com.mbIT.sdetector.KakaoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_sdetector"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_sdetector_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Sdetector">
        <activity android:name="com.mbIT.sdetector.Login4Activity"></activity>
        <activity
            android:name="com.mbIT.sdetector.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sdetector.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.mbIT.sdetector.Login3Activity" />
        <activity android:name="com.mbIT.sdetector.Login2Activity" />
        <activity android:name="com.mbIT.sdetector.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao66583595f844056f98b9b556be3df083" />
            </intent-filter>
        </activity>
    </application>

</manifest>